{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}最適防具検索{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <h2 class="page-header">最適防具検索</h3>
      <form action="{% url 'monhan:coodinate_armor_set' %}" method="POST">{% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-default btn-sm" type="submit" value="検索" />
      </form>
    </div> <!-- /.col-sm-12 -->
  </div> <!-- /.row -->
{% endblock content %}

